
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="../../favicon.ico">-->

    <title>Risk Control System</title>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="/Resources/css/main.css" /> 
    <link rel="stylesheet" type="text/css" href="/Resources/css/newcss.css" /> 
	
	<script type="text/javascript">
		setInterval(function(){
			var date=new Date();
			var year=date.getFullYear(); //获取当前年份
			var mon=date.getMonth()+1; //获取当前月份
			var da=date.getDate(); //获取当前日
			var day=date.getDay(); //获取当前星期几
			var h=date.getHours(); //获取小时
			var m=date.getMinutes(); //获取分钟
			var s=date.getSeconds(); //获取秒
			if (h<=9) 
				h="0"+h 
			if (m<=9) 
				m="0"+m 
			if (s<=9) 
				s="0"+s
			var d=document.getElementById('current_date'); 
			d.innerHTML=year+'年'+mon+'月'+da+'日'+'星期'+day+' '+h+':'+m+':'+s;
			},1000)
	</script>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">

        <div id="navbar" class="navbar-collapse collapse">
		  <ul class="nav navbar-nav navbar-right">
		  <li><a href="" id="current_date" ></a></li>
		  </ul>
         <ul class="nav navbar-nav navbar-left">
            <li><a href="../../home/" >首页</a></li>
            <li><a href="../../alpha-monitor/instant-trading/" >Alpha监控</a></li>
            <li><a href="../../stock-monitor/stock/">股票监控</a></li>
            <li  class="active"><a href="../../future-monitor/future-account-real/">期货监控</a></li>
            <li><a href="../../database-monitor/stock-database/">数据库监控</a></li>
			<li><a href="../../program-monitor/trading-program-monitor/">程序监控</a></li>
          </ul>
        </div>

      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#">期货概览</a></li>
            <li><a href="#">期货下单</a></li>
            <li><a href="../future-account-real/">期货实盘绩效</a></li>
            <li  class="active"><a href="../future-strategy-monitor/">期货策略理论</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="page-header">future-account-real</h2>
          <div id="my_table" align="center">

          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
  </body>
</html>
